body{
  margin:0;
}
a {
  color:black;
  text-decoration: none;
}
ol{
  width:100px;
  border-right:1px solid gray;
  margin:0;
  padding:20px;
  border-bottom:1px solid gray;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:10px;
}
.saw{
  color:blue;
}
.grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
.article{
  padding-left:20px;
}
